@import "../vars";
.display,
h2 {
    font-size: 52px;
    line-height: 115%;
    font-family: $font2;
    font-weight: 400;
    span {
        color: $blue;
    }
}

.display2,
h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 123%;
    font-family: $font2;
    span {
        color: $blue;
    }
}

.black-link {
    &:hover {
        color: $blue;
    }
}

.blue-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    color: $blue;
    display: flex;
    align-items: center;
    svg {
        margin-left: 7px;
    }
}

.blue-text {
    color: $blue;
}

.red-text {
    color: #E7625A;
}

.grey-text {
    color: #8C9AA8;
}

p {
    font-size: 16px;
    line-height: 162%;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    strong {
        font-weight: 700;
    }
}

ol {
    counter-reset: num;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    li {
        position: relative;
        font-size: 16px;
        line-height: 120%;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &:before {
            content: counter(num) ".";
            counter-increment: num;
            position: absolute;
            z-index: 1;
            width: 23px;
            height: 19px;
            left: -27px;
            top: 0;
        }
    }
}

ul:not(.list) {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    li {
        font-size: 16px;
        line-height: 120%;
        padding-left: 25px;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $black;
            left: 9px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

@media screen and (max-width: 992px) {
    .display,
    h2 {
        font-size: 36px;
    }
    .display2,
    h3 {
        font-size: 28px;
    }
}

@media screen and (max-width: 576px) {
    .display,
    h2 {
        font-size: 28px;
    }
    .display2,
    h3 {
        font-size: 24px;
    }
}