<div class="project-card2">
    <div class="project-card2__gallery">
        <div class="project-card2__gallery-big">
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/project4.webp" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project5.webp" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project6.webp" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project7.webp" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project6.webp" />
                    </div>
                </div>

            </div>
        </div>
        <div class="project-card2__gallery-small">
            <div thumbsSlider="" class=" swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/project4.webp" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project5.webp" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project6.webp" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project7.webp" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project6.webp" />
                    </div>
                </div>
            </div>
            <div class="swiper-button-next">
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.22179 10.9999L6.77734 6.00023L1.22179 0.999878" stroke="#F3F5F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="swiper-button-prev">
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.77821 0.999878L1.22266 5.99953L6.77821 10.9999" stroke="#F3F5F6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="project-card2__bottom">
        <div class="project-card2__title">
            @@title <span>(@@num)</span>
        </div>
        <a href="" class="project-card2__btn btn btn-blue">Смотреть категорию</a>
    </div>

</div>