<div class="product-card">
    <div class="product-card__inner">
        <div class="product-card__top">
            @@if (badge === "green"){
            <div class="product-card__badge product-card__badge--green">
                <span>ТОП</span> продаж
            </div>
            } @@if (badge === "yellow"){
            <div class="product-card__badge product-card__badge--yellow">
                <span>Под
                    </span> заказ
            </div>
            }

            <a href="" class="product-card__title">Система линейного водоотвода Евро, 200 мм</a>
        </div>
        <a href="" class="product-card__img">
            <img src="img/catalog-item.webp" alt="">
        </a>
        <div class="product-card__price">
            от
            <span>2 629</span> руб/м
        </div>
    </div>
    <div class="product-card__bottom">
        <div class="product-card__info">
            <div class="product-card__info-item">
                <img src="img/has.svg" alt="">
                <span>В наличии</span>
            </div>
            <div class="product-card__info-item">
                <img src="img/car.svg" alt="">
                <span>Получить сегодня</span>
            </div>
        </div>
        <div class="product-card__nav">
            <div class='product-card__calc cartcalc'>
                <button class='ccalc-minus'>
                    <svg width="13" height="3" viewBox="0 0 13 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.07167 2.16162C0.479801 2.16162 0 1.68182 0 1.08995C0 0.498089 0.479802 0.0182878 1.07167 0.0182878H11.7883C12.3802 0.0182878 12.86 0.498089 12.86 1.08995C12.86 1.68182 12.3802 2.16162 11.7883 2.16162L1.07167 2.16162Z" fill="#0092B4"/>
                    </svg>
               </button>
                <input type='text' value='1'>
                <button class='ccalc-plus'>
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.33398 2.42521C7.33398 1.82605 7.8197 1.34033 8.41886 1.34033C9.01802 1.34033 9.50374 1.82605 9.50374 2.42521V13.274C9.50374 13.8731 9.01802 14.3589 8.41886 14.3589C7.8197 14.3589 7.33398 13.8732 7.33398 13.274L7.33398 2.42521Z" fill="#0092B4"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.99504 8.93604C2.39587 8.93604 1.91016 8.45032 1.91016 7.85116C1.91016 7.252 2.39587 6.76628 2.99503 6.76628H13.8438C14.443 6.76628 14.9287 7.252 14.9287 7.85116C14.9287 8.45032 14.443 8.93604 13.8438 8.93604L2.99504 8.93604Z" fill="#0092B4"/>
                    </svg>
               </button>
            </div>
            <button class="product-card__btn btn btn-blue">В корзину</button>
        </div>
    </div>
</div>