<div class='container'>
    <div class='advantages__items'>
        <div class="advantages__item">
            <span class="advantages__item-num">21</span>
            <span class="advantages__item-title">год опыта на рынке</span>
        </div>
        <div class="advantages__item">
            <span class="advantages__item-num">9</span>
            <span class="advantages__item-title">собственных производств</span>
        </div>
        <div class="advantages__item">
            <span class="advantages__item-num">11</span>
            <span class="advantages__item-title">стран присутствия</span>
        </div>
        <div class="advantages__item">
            <span class="advantages__item-num">550</span>
            <span class="advantages__item-title">сотрудников по всему миру</span>
        </div>
        <div class="advantages__item">
            <span class="advantages__item-num">1000</span>
            <span class="advantages__item-title">реализованных проектов в РФ</span>
        </div>
    </div>
</div>