<div class='container'>
    <div class='advantages__items'>
        <div class="advantages__item">
            <span id="advantage1" class="advantages__item-num" data-last-num="21">0</span>
            <span class="advantages__item-title">год опыта на рынке</span>
        </div>
        <div class="advantages__item">
            <span id="advantage2" class="advantages__item-num" data-last-num="9">0</span>
            <span class="advantages__item-title">собственных производств</span>
        </div>
        <div class="advantages__item">
            <span id="advantage3" class="advantages__item-num" data-last-num="11">0</span>
            <span class="advantages__item-title">стран присутствия</span>
        </div>
        <div class="advantages__item">
            <span id="advantage4" class="advantages__item-num" data-last-num="550">0</span>
            <span class="advantages__item-title">сотрудников по всему миру</span>
        </div>
        <div class="advantages__item">
            <span id="advantage5" class="advantages__item-num" data-last-num="1000">0</span>
            <span class="advantages__item-title">реализованных проектов в РФ</span>
        </div>
    </div>
</div>