<div class='container'>
    <div class='certificate__inner'>
        <div class='partners__top'>
            <h2 class="partners__title display">Благодарственные письма</h2>
            <div class="partners__nav">
                <div class='swiper-button-prev'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.77821 1L1.22266 5.99965L6.77821 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                <div class='swiper-button-next'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.22179 1L6.77734 5.99965L1.22179 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
            </div>
        </div>

        <div class="partners__slider">
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <div class="certificate-card">
                            <img src="img/certificate.webp" alt="">
                            <div class="certificate-card__bottom">
                                <div class="certificate-card__title">Узловский молочный комбинат</div>
                                <a href="" class="certificate-card__link blue-link">
                                    <span>Смотреть</span>
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5 4.99972L1 9" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="certificate-card">
                            <img src="img/certificate2.webp" alt="">
                            <div class="certificate-card__bottom">
                                <div class="certificate-card__title">Пермский Хладокомбинат</div>
                                <a href="" class="certificate-card__link blue-link">
                                    <span>Смотреть</span>
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5 4.99972L1 9" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="certificate-card">
                            <img src="img/certificate3.webp" alt="">
                            <div class="certificate-card__bottom">
                                <div class="certificate-card__title">Газпром</div>
                                <a href="" class="certificate-card__link blue-link">
                                    <span>Смотреть</span>
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5 4.99972L1 9" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="certificate-card">
                            <img src="img/certificate2.webp" alt="">
                            <div class="certificate-card__bottom">
                                <div class="certificate-card__title">Пермский Хладокомбинат</div>
                                <a href="" class="certificate-card__link blue-link">
                                    <span>Смотреть</span>
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5 4.99972L1 9" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>