<header class='header'>
    <section class='header-top'>
        <div class='container'>
            <div class='header-top__inner'>
                <a href="index.html" class="header__logo">
                    <img src="img/logo.svg" alt="">
                </a>
                <div class="header-top__right">
                    <div class="header__contacts header__contacts--dekstop">
                        <a href="tel:+79605956170" class="header__phone black-link">
                            <img src="img/phone.svg" alt="">
                            <span>+7 960 595 61 70</span>
                        </a>
                        <div class="header__socials">
                            <a href="" class="header__btn">
                                <img src="img/telegram.svg" alt="">
                            </a>
                            <a href="" class="header__btn">
                                <img src="img/whatsapp.svg" alt="">
                            </a>
                        </div>
                        <a href="mailto:inoxpark@isv-standartpark.ru" class="header__mail black-link">inoxpark@isv-standartpark.ru</a>
                    </div>
                    <div class="header__buttons">
                        <a href="" class="header__btn">
                            <img src="img/question.svg" alt="">
                        </a>
                        <a href="" class="header__btn">
                            <img src="img/user.svg" alt="">
                        </a>
                        <a href="" class="header__btn">
                            <img src="img/heart.svg" alt="">
                        </a>
                        <a href="" class="header__btn">
                            <img src="img/cart.svg" alt="">
                        </a>
                    </div>
                    <button class="header__burger">
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class='header-bottom'>
        <div class='container'>
            <div class='header-bottom__inner'>
                <div class="header__links">
                    <a href="" class="header__link black-link">Главная</a>
                    <a href="" class="header__link black-link">О компании</a>
                    <a href="" class="header__link black-link">Каталог</a>
                    <a href="" class="header__link black-link">Индивидуальное решение</a>
                    <a href="" class="header__link black-link">Реализованные объекты</a>
                    <a href="" class="header__link black-link">Информация</a>
                    <a href="" class="header__link black-link">Контакты</a>
                </div>
                <div class="header__search">
                    <button class="header__search-btn">
                        <img src="img/search.svg" alt="">
                    </button>
                </div>
                <div class="header__contacts header__contacts--mob">
                    <a href="tel:+79605956170" class="header__phone black-link">
                        <img src="img/phone.svg" alt="">
                        <span>+7 960 595 61 70</span>
                    </a>
                    <div class="header__socials">
                        <a href="" class="header__btn">
                            <img src="img/telegram.svg" alt="">
                        </a>
                        <a href="" class="header__btn">
                            <img src="img/whatsapp.svg" alt="">
                        </a>
                    </div>
                    <a href="mailto:inoxpark@isv-standartpark.ru" class="header__mail black-link">inoxpark@isv-standartpark.ru</a>
                </div>
            </div>
        </div>
    </section>
</header>