<div class='container'>
    <div class='info__inner'>
        <div class="info__left">
            <h2 class="info__title display">О компании</h2>
            <div class="info__desc">
                <p>Стандартпарк — международная компания, работающая в сфере сбора, очистки, отвода воды, инженерного обустройства и благоустройства территории. Мы представлены в 11 странах мира и имеем 40 торговых представительств.</p>
                <p>Уже более 20 лет мы обеспечиваем наших клиентов качественной продукцией и образцовым обслуживанием. Мы изготавливаем свою продукцию. Наш ассортимент товаров - это оптимальное сочетание надежности и точности.</p>
            </div>
            <a href="" class="info__link blue-link">
                <span>Подробнее</span>
                <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.32177 10.6543C1.94034 11.0537 1.30734 11.0682 0.907935 10.6868C0.539255 10.3347 0.498487 9.76826 0.794408 9.36906L0.875407 9.27297L4.06881 5.93088L0.87536 2.58785C0.523288 2.21915 0.508652 1.65143 0.822646 1.26628L0.907985 1.17401C1.27669 0.821942 1.84441 0.807307 2.22956 1.1213L2.32182 1.20664L6.17334 5.24011C6.51399 5.59686 6.54018 6.14264 6.25191 6.52845L6.17329 6.62137L2.32177 10.6543Z" fill="#0092B4"/>
                </svg>
            </a>
        </div>
        <div class="info__right">
            <div class="info__img">
                <img src="img/about.webp" alt="">
            </div>
        </div>
    </div>
</div>