<div class='container'>
    <h2 class="our-product__title display">Наша продукция</h2>
    <div class='our-product__items'>
        <div class="our-product__item">
            @@include('_catalog-card.html',{"title":"Линейный водоотвод из нержавеющей стали", "link1":"Система линейного водоотвода Евро", "link2":"Система линейного водоотвода Мини", "link3":"Система линейного водоотвода Щелевая", "link4":"Система водоотвода ",
            "img":"img/catalog.webp"})
        </div>
        <div class="our-product__item">
            @@include('_catalog-card.html',{"title":"Точечный водоотвод из нержавеющей стали", "link1":"Комплекты трапов с горизонтальным выпуском", "link2":"Комплекты трапов с горизонтальным выпуском", "link3":"", "link4":"", "img":"img/catalog2.webp"})
        </div>
        <div class="our-product__item">
            @@include('_catalog-card.html',{"title":"Ревизии из нержавеющей стали", "link1":"Ревизия санитарно-гигиеническая", "link2":"Ревизия техническая", "link3":"", "link4":"", "img":"img/catalog3.webp"})
        </div>
    </div>
</div>