<div class="pagination">
    <a href="" class="pagination__btn pagination__btn--prev">
        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.55556 1L1 5.99965L6.55556 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
    <a href="" class="pagination__item">
        <span>1</span>
    </a>
    <a href="" class="pagination__item pagination__item--active">
        <span>2</span>
    </a>
    <a href="" class="pagination__item">
        <span>3</span>
    </a>
    <a href="" class="pagination__item">
        <span>4</span>
    </a>
    <a href="" class="pagination__item">
        <span>5</span>
    </a>
    <a href="" class="pagination__item">
        <span>...</span>
    </a>
    <a href="" class="pagination__item">
        <span>15</span>
    </a>
    <a href="" class="pagination__btn pagination__btn--next">
        <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.72276 1L7.27832 5.99965L1.72276 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
</div>