<div class='container'>
    <div class='partners__inner'>
        <div class='partners__top'>
            <h2 class="partners__title display">Партнеры</h2>
            <div class="partners__nav">
                <div class='swiper-button-prev'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.77821 1L1.22266 5.99965L6.77821 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                <div class='swiper-button-next'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.22179 1L6.77734 5.99965L1.22179 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
            </div>
        </div>

        <div class="partners__slider">
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <a href="" class="partners__item">
                            <img src="img/partner.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide'>
                        <a href="" class="partners__item">
                            <img src="img/partner2.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide'>
                        <a href="" class="partners__item">
                            <img src="img/partner3.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide'>
                        <a href="" class="partners__item">
                            <img src="img/partner4.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide'>
                        <a href="" class="partners__item">
                            <img src="img/partner5.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide'>
                        <a href="" class="partners__item">
                            <img src="img/partner6.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide'>
                        <a href="" class="partners__item">
                            <img src="img/partner.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide partners__item'>
                        <img src="img/partner2.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>