<div class='container'>
    <div class='photo-gallery__inner'>
        <div class='photo-gallery__top'>
            <h2 class="photo-gallery__title display">Галерея</h2>
            <div class="photo-gallery__nav">
                <div class='swiper-button-prev'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.77821 1L1.22266 5.99965L6.77821 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                <div class='swiper-button-next'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.22179 1L6.77734 5.99965L1.22179 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
            </div>
        </div>

        <div class="photo-gallery__slider">
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <a data-fancybox='gallery' href='img/gallery.webp'>
                            <img src="img/gallery.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide'>
                        <a data-fancybox='gallery' href='img/gallery2.webp'>
                            <img src="img/gallery2.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide'>
                        <a data-fancybox='gallery' href='img/gallery3.webp'>
                            <img src="img/gallery3.webp" alt="">
                        </a>
                    </div>
                    <div class='swiper-slide'>
                        <a data-fancybox='gallery' href='img/gallery.webp'>
                            <img src="img/gallery.webp" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>