<div class="products__slider">
    <div class='swiper-container'>
        <div class='swiper-wrapper'>
            <div class='swiper-slide'>
                @@include('../cards/_products-card.html',{"badge":""})
            </div>
            <div class='swiper-slide'>
                @@include('../cards/_products-card.html',{"badge":""})
            </div>
            <div class='swiper-slide'>
                @@include('../cards/_products-card.html',{"badge":""})
            </div>
            <div class='swiper-slide'>
                @@include('../cards/_products-card.html',{"badge":""})
            </div>
            <div class='swiper-slide'>
                @@include('../cards/_products-card.html',{"badge":""})
            </div>
        </div>
    </div>
</div>