<div class='container'>
    <div class='question__inner'>
        <h2 class="question__title display">
            Необходимо <span>индивидуальное решение?</span>
        </h2>
        <div class="question__right">
            <div class="question__desc">Заполните форму и в течении 1 дня мы подготовим предложение по организации системы водоотведения на вашем объекте.</div>
            <button class="question__btn btn btn-blue">Получить индивидуальное решение</button>
        </div>
    </div>
</div>