<div class='container'>
    <div class="why__inner">
        <div class='why__top'>
            <h2 class="why__title display">Наши принципы</h2>
            <div class="why__nav">
                <div class='swiper-button-prev'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.77821 1L1.22266 5.99965L6.77821 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                <div class='swiper-button-next'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.22179 1L6.77734 5.99965L1.22179 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
            </div>
        </div>
        <div class="why__slider">
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Профессионализм","desc":"Быть лучше в своем деле. Прийти в компанию можно только с желанием работать, а остаться – только став профессионалом","img":"img/why7.png"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Честность","desc":"Взвешенный подход к выбору средств достижения целей компании. Честность сформировывает базу доверия.","img":"img/why8.png"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Командная работа","desc":"Взаимное уважение (такое отношение к другим, которого мы ожидаем к себе) и поддержка в процессе работы. Сплоченность команды – залог нашего развития.","img":"img/why9.png"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Проактивность ","desc":"Наша деятельность зависит от наших решений, а не от внешней среды. Мы обеспечиваем высокий уровень инноваций, позволяющих достичь преимуществ на рынке.","img":"img/why10.png"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Инновационность","desc":"Новые идеи и решения, обеспечивающие позиции лидера на рынке. ","img":"img/why5.svg"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Индивидуальный проект","desc":"Мы изготавливаем свою продукцию. Наш ассортимент товаров - это оптимальное сочетание надежности и точности.","img":"img/why4.png"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Помощь в подборе","desc":"Мы представлены в 11 странах мира и имеем 40 торговых представительств. ","img":"img/why5.svg"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>