<div class='container'>
    <div class="why__inner">
        <div class='why__top'>
            <h2 class="why__title display">Почему выбирают <span>Inoxpark</span></h2>
            <div class="why__nav">
                <div class='swiper-button-prev'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.77821 1L1.22266 5.99965L6.77821 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                <div class='swiper-button-next'>
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.22179 1L6.77734 5.99965L1.22179 11" stroke="#0092B4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
            </div>
        </div>
        <div class="why__slider">
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Собственное производство","desc":"Уже более 20 лет мы обеспечиваем наших клиентов качественной продукцией и образцовым обслуживанием. ","img":"img/why.svg"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Быстрые сроки производства","desc":"Мы изготавливаем свою продукцию. Наш ассортимент товаров - это оптимальное сочетание надежности и точности.","img":"img/why2.png"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Бесплатная диагностика","desc":"Мы представлены в 11 странах мира и имеем 40 торговых представительств. Мы изготавливаем свою продукцию.","img":"img/why3.svg"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Индивидуальный проект","desc":"Мы изготавливаем свою продукцию. Наш ассортимент товаров - это оптимальное сочетание надежности и точности.","img":"img/why4.png"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Помощь в подборе","desc":"Мы представлены в 11 странах мира и имеем 40 торговых представительств. ","img":"img/why5.svg"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Индивидуальный проект","desc":"Мы изготавливаем свою продукцию. Наш ассортимент товаров - это оптимальное сочетание надежности и точности.","img":"img/why4.png"})
                        </div>
                    </div>
                    <div class='swiper-slide'>
                        <div class="why-card">
                            @@include('../cards/_why-card.html',{"title":"Помощь в подборе","desc":"Мы представлены в 11 странах мира и имеем 40 торговых представительств. ","img":"img/why5.svg"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>