@import 'vars';
@import 'components/text.scss';
@import 'components/button.scss';
@import 'components/fonts.scss';
@import 'components/_cards.scss';
@import 'components/tables';
.breadcrumbs {
    padding: 30px 0 37px;
    &__item {
        font-size: 12px;
        line-height: 12px;
        color: #8C9AA8;
        position: relative;
        display: inline-flex;
        margin-top: 7px;
        &:not(:last-child) {
            margin-right: 34.5px;
        }
        &:last-child {
            pointer-events: none;
            color: $black;
        }
        &:not(:first-child) {
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: $blue;
                right: 100%;
                top: 50%;
                margin-right: 18.25px;
                transform: translateY(-50%);
            }
        }
        &:hover {
            color: $blue;
        }
    }
}

.select,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 35px;
    font-size: 15px;
    padding: 0;
    color: $black;
    width: 100%;
    background: #FFFFFF;
    border-radius: 3px;
    // z-index: 3;
    border: none;
    font-size: 14px;
    &::-ms-expand {
        display: none; // IE
    }
    .current {
        background-image: url(../img/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: right 17px center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 30px 0 20px;
    }
    .option {
        height: 35px;
        display: flex;
        align-items: center;
        border-style: solid;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: none;
    }
    .list {
        border-radius: 3px;
        border: none;
        padding: 0;
        margin-top: 5px;
        box-shadow: 20px 20px 40px #FFFFFF, 10px 20px 40px rgba(76, 82, 91, 0.1), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
    }
    .option {
        &.focus,
        &.selected {
            background-color: #ccc !important;
            color: $blue;
        }
        &.disabled {
            display: none;
        }
        &.selected {
            pointer-events: none;
        }
        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    &__btn {
        display: block;
        &--prev {
            margin-right: 17px;
        }
        &--next {
            margin-left: 17px;
        }
    }
    &__item {
        display: block;
        margin: 0 13px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #BAC6CB;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 44px;
            height: 44px;
            background: #F3F5F6;
            box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 20px rgba(76, 82, 91, 0.12), inset 1px 1px 2px rgba(247, 247, 247, 0.5);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            opacity: 0;
        }
        span {
            position: relative;
            z-index: 2;
        }
        &:hover {
            color: $blue;
        }
        &--active {
            color: $blue;
            pointer-events: none;
            &:before {
                opacity: 1;
            }
        }
    }
}

.cartcalc {
    display: flex;
    align-items: center;
    input {
        width: 32px;
        height: 32px;
        border-radius: 3px;
        border: 1px solid $blue;
        text-align: center;
        margin: 0 10px;
    }
}

.video-wrap {
    position: relative;
    .playpause {
        position: absolute;
        z-index: 3;
        width: 80px;
        height: 80px;
        background-color: #fff;
        box-shadow: 10px 10px 20px rgba(76, 82, 91, 0.12);
        border-radius: 50%;
        background-image: url(../img/play.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 21px auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    video {
        width: 100%;
        border-radius: 6px;
    }
    &__badge {
        position: absolute;
        background-color: $blue;
        background: #0092B4;
        box-shadow: 10px 20px 40px rgba(76, 82, 91, 0.1);
        border-radius: 0px 139px 139px 0px;
        bottom: 80px;
        left: 0;
        padding: 38px 100px;
        max-width: 770px;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
}

.form-group {
    position: relative;
    margin: 0;
    label {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 14px;
        display: block;
    }
    input,
    textarea,
    .select {
        border: 1px solid $blue;
        padding: 0 28px;
        height: 50px;
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        background-color: transparent;
        color: #000;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
        &::placeholder {
            color: #999;
        }
    }
    textarea {
        padding-top: 23px;
        padding-bottom: 23px;
        min-height: 210px;
        resize: none;
    }
    .select {
        padding-left: 0;
        padding-right: 0;
        .current {
            padding-left: 28px;
            font-weight: 300;
            background-image: url(../img/select-arrow.png);
        }
        .list {
            border: 1px solid $blue;
            width: calc(100% + 4px);
            left: -2px;
        }
    }
}

.check {
    position: relative;
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        &:checked+label {
            &::before {
                background-color: $blue;
                background-image: url(../img/check.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &:disabled+label {
            color: #AAAAAA;
            pointer-events: none;
        }
    }
    label {
        padding-left: 44px;
        position: relative;
        min-height: 20px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            border-radius: 3px;
            border: 1px solid $blue;
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0s;
        }
    }
}

.page-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__btn {
        margin-right: 5px;
    }
}

.video-block {
    padding: 40px 0 150px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 60%;
        bottom: 0;
        left: 0;
        background-color: #fff;
        pointer-events: none;
    }
    &--white {
        background-color: #fff;
        &:before {
            display: none;
        }
    }
    &__inner {
        position: relative;
        z-index: 2;
        width: calc(100% + 200px);
        margin-left: -100px;
        @media screen and (max-width: 1500px) {
            width: 100%;
            margin-left: 0;
        }
    }
}

.tabs {
    display: flex;
    align-items: center;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F5F6;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 20px rgba(76, 82, 91, 0.12), inset 1px 1px 2px rgba(247, 247, 247, 0.5);
    border-radius: 3px;
    height: 46px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 30px;
    flex-shrink: 0;
    &:hover {
        background: $blue;
        color: #fff;
    }
    &:not(:last-child) {
        margin-right: 22px;
    }
    &--active {
        background: $blue;
        font-weight: 700;
        color: #fff;
        pointer-events: none;
    }
    &__content {
        display: none;
        &--active {
            display: block;
        }
    }
}

.rating {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    &__item {
        &:not(:first-child) {
            margin-right: 6.25px;
        }
        &:hover {
            cursor: pointer;
            & path {
                fill: $blue;
            }
            &~.rating__item {
                & path {
                    fill: $blue;
                }
            }
        }
    }
}

.rating[data-total-rating="1"] .rating__item:nth-child(n+5),
.rating[data-total-rating="2"] .rating__item:nth-child(n+4),
.rating[data-total-rating="3"] .rating__item:nth-child(n+3),
.rating[data-total-rating="4"] .rating__item:nth-child(n+2),
.rating[data-total-rating="5"] .rating__item:nth-child(n+1) {
    & path {
        fill: $blue;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
    .video-wrap {
        &__badge {
            display: none;
        }
    }
    .page-bottom {
        flex-wrap: wrap;
        &__buttons {
            order: 2;
            width: 100%;
            justify-content: center;
            margin-top: 50px;
        }
        .pagination {
            width: 100%;
        }
    }
    .video-block {
        padding: 20px 0 60px;
    }
    .tabs {
        flex-wrap: wrap;
    }
    .tab {
        margin-bottom: 10px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 576px) {
    .pagination {
        &__btn {
            display: block;
            &--prev {
                margin-right: 5px;
            }
            &--next {
                margin-left: 5px;
            }
        }
        &__item {
            margin: 0 10px;
            &::before {
                width: 32px;
                height: 32px;
            }
        }
    }
    .form-group {
        input,
        textarea {
            padding-left: 15px;
            padding-right: 15px;
        }
        textarea {
            padding-top: 10px;
            padding-bottom: 10px;
            min-height: 180px;
        }
        .select {
            .current {
                padding-left: 15px;
            }
        }
    }
    .page-bottom {
        &__buttons {
            display: block;
        }
        &__btn {
            width: 100%;
            margin: 10px 0 0;
        }
    }
}